/* microPress: "dark" Theme */
#mp-body {
    background: #333;
    color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
#mp-header {
    border-bottom-color: #aaa;
}
.mp-header-title a {
    color: #f0f0f0;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
}
.mp-header-subtitle {
    color: #d0d0d0;
    font-size: 1.25em;
    font-weight: bold;
}
.mp-article-title, .mp-footer-title, .mp-widget-title {
    font-size: 1.5em;
    font-weight: bold;
}